## NBA API

### Description
- Ingest data via nba_api
- reformat data
- push data to Supabase
- This notebook will is meant to explore the nba_api package and test push some data to Supabase
- Future python files will be designed to package up consistent data pulls from the api and updates to Supabase tables
- Once data is consistently landed, I will work on building some ML models and Neural Networks to add Data Science flair to the project
- Final step will be packaging it up in a simple web app to allow others to interact

### Import Packaages

In [94]:
## import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import nba_api
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import players
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.static import teams as static_teams
from nba_api.stats.static import players as static_players
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import leaguedashplayerstats
import time
import requests
import json
import seaborn as sns
import sys
import os
from supabase import create_client, Client
from dotenv import load_dotenv

load_dotenv()

True

### Test pull to grab recent ATL games

In [ ]:

atl = 1610612737  # Atlanta Hawks team_id
games = leaguegamefinder.LeagueGameFinder(team_id_nullable=atl).get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22025,1610612737,ATL,Atlanta Hawks,0022500223,2025-11-12,ATL @ SAC,W,240,133,...,0.818,7,38,45,42,14.0,6,19,20,33.0
1,22025,1610612737,ATL,Atlanta Hawks,0022500206,2025-11-10,ATL @ LAC,W,239,105,...,0.800,7,34,41,30,7.0,8,11,22,3.0
2,22025,1610612737,ATL,Atlanta Hawks,0022500185,2025-11-08,ATL vs. LAL,W,240,122,...,0.909,7,30,37,37,13.0,6,11,14,20.0
3,22025,1610612737,ATL,Atlanta Hawks,0022500030,2025-11-07,ATL vs. TOR,L,241,97,...,0.957,19,35,54,24,8.0,7,15,19,-12.0
4,22025,1610612737,ATL,Atlanta Hawks,0022500166,2025-11-04,ATL vs. ORL,W,240,127,...,0.810,6,28,34,23,11.0,6,18,24,15.0

In [6]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

### Lets do some broader things to get data
- first use the static databases to get team and player IDs (thesse can be dim tables)
- then lets flush out some broader functionality with usefful endpoints

#### Grab team IDs

In [8]:
# All teams (list[dict])
teams_list = static_teams.get_teams()
teams_df = pd.DataFrame(teams_list).sort_values("full_name")
teams_df.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [59]:
def get_team_ids_df():
    teams_list = static_teams.get_teams()
    teams_df = pd.DataFrame(teams_list).sort_values("full_name")
    teams_df.rename(columns={'id': 'team_id'}, inplace=True)
    return teams_df

In [60]:
teams_df = get_team_ids_df()
teams_df.head()

,team_id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

#### Create some helper dictionaries

In [9]:
# Helper maps
TEAM_BY_ABBR = {t["abbreviation"]: t for t in teams_list}
TEAM_BY_ID   = {t["id"]: t for t in teams_list}

# Example lookups
TEAM_BY_ABBR["ATL"]["id"]         # -> 1610612737
TEAM_BY_ID[1610612737]["full_name"]  # -> "Atlanta Hawks"

'Atlanta Hawks'

In [18]:
def get_team_id():
    teams_list = static_teams.get_teams()
    TEAM_BY_ID   = {t["id"]: t for t in teams_list}
    return TEAM_BY_ID

In [20]:
team_id_dicts = get_team_id()

#### Grab Player IDs

In [14]:
# All players (current + historical)
players_list = static_players.get_players()
players_df = pd.DataFrame(players_list)
players_df.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [15]:
# Find by name (returns list; pick the first if unique)
static_players.find_players_by_full_name("LeBron James")

[{'id': 2544,
  'full_name': 'LeBron James',
  'first_name': 'LeBron',
  'last_name': 'James',
  'is_active': True}]

In [35]:
def get_player_df():
    players_list = static_players.get_players()
    players_df = pd.DataFrame(players_list)
    players_df.rename(columns={'id': 'player_id'}, inplace=True)
    return players_df

In [36]:
players_df = get_player_df()
players_df.head()

   player_id            full_name first_name     last_name  is_active
0      76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1      76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2      76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3         51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4       1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

#### Lets look at the game logs endpoint

In [ ]:
## here is one call to get all atl games

atl = 1610612737  # Atlanta Hawks team_id
games = leaguegamefinder.LeagueGameFinder(team_id_nullable=atl).get_data_frames()[0]

games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22025,1610612737,ATL,Atlanta Hawks,0022500223,2025-11-12,ATL @ SAC,W,240,133,...,0.818,7,38,45,42,14.0,6,19,20,33.0
1,22025,1610612737,ATL,Atlanta Hawks,0022500206,2025-11-10,ATL @ LAC,W,239,105,...,0.800,7,34,41,30,7.0,8,11,22,3.0
2,22025,1610612737,ATL,Atlanta Hawks,0022500185,2025-11-08,ATL vs. LAL,W,240,122,...,0.909,7,30,37,37,13.0,6,11,14,20.0
3,22025,1610612737,ATL,Atlanta Hawks,0022500030,2025-11-07,ATL vs. TOR,L,241,97,...,0.957,19,35,54,24,8.0,7,15,19,-12.0
4,22025,1610612737,ATL,Atlanta Hawks,0022500166,2025-11-04,ATL vs. ORL,W,240,127,...,0.810,6,28,34,23,11.0,6,18,24,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3806,21983,1610612737,ATL,Atlanta Hawks,0028300041,1983-11-04,ATL vs. CHI,W,240,103,...,0.692,19,27,46,31,14.0,13,18,27,NaN
3807,21983,1610612737,ATL,Atlanta Hawks,0028300027,1983-11-01,ATL vs. WAS,W,240,95,...,0.633,12,29,41,20,7.0,10,16,34,NaN
3808,21983,1610612737,ATL,Atlanta Hawks,0028300014,1983-10-29,ATL vs. DET,W,240,117,...,0.633,27,21,48,28,14.0,7,23,35,NaN
3809,21983,1610612737,ATL,Atlanta Hawks,0028300005,1983-10-28,ATL @ NJN,L,240,108,...,0.684,15,18,33,14,10.0,5,17,30,NaN
3810,12005,1610612737,ATL,Atlanta Hawks,None,None,None,L,240,84,...,0.667,17,26,43,15,8.0,1,17,29,NaN

In [27]:
team_id_list = [t for t in teams_df['id']]

In [30]:
team_games = [] 
for t in teams_df['id']:
    games_df = leaguegamefinder.LeagueGameFinder(team_id_nullable=t).get_data_frames()[0]
    team_games.append(games_df)

team_games_df = pd.concat(team_games)

#### Make sure we got all the data

In [31]:
team_games_df['TEAM_NAME'].value_counts()

TEAM_NAME
Los Angeles Lakers                   4089
Boston Celtics                       4037
San Antonio Spurs                    3978
Utah Jazz                            3913
Chicago Bulls                        3883
Houston Rockets                      3880
Dallas Mavericks                     3877
Detroit Pistons                      3874
Phoenix Suns                         3868
Indiana Pacers                       3866
Portland Trail Blazers               3845
Cleveland Cavaliers                  3840
Philadelphia 76ers                   3840
Golden State Warriors                3839
Denver Nuggets                       3833
New York Knicks                      3829
Milwaukee Bucks                      3822
Atlanta Hawks                        3812
Sacramento Kings                     3547
Miami Heat                           3542
Orlando Magic                        3235
Minnesota Timberwolves               3205
Toronto Raptors                      2742
Los Angeles Clippers                 2675
Washington Wizards                   2531
New Jersey Nets                      2497
Memphis Grizzlies                    2303
Charlotte Hornets                    2188
Seattle SuperSonics                  2187
Oklahoma City Thunder                1708
Brooklyn Nets                        1252
Washington Bullets                   1172
New Orleans Pelicans                 1134
LA Clippers                           987
Charlotte Bobcats                     901
New Orleans Hornets                   842
Vancouver Grizzlies                   460
Kansas City Kings                     167
New Orleans/Oklahoma City Hornets     164
San Diego Clippers                     82
Name: count, dtype: int64

In [32]:
team_games_df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [81]:
# Step 1: rename columns to match Supabase schema
fact_team_games_df = team_games_df.rename(columns={
    "SEASON_ID": "season_id",
    "TEAM_ID": "team_id",
    "GAME_ID": "game_id",
    "GAME_DATE": "game_date",
    "MATCHUP": "matchup",
    "WL": "wl",
    "PTS": "pts",
    "FG_PCT": "fg_pct",
    "FG3_PCT": "fg3_pct",
    "FT_PCT": "ft_pct",
    "REB": "reb",
    "AST": "ast",
    "STL": "stl",
    "BLK": "blk",
    "TOV": "tov",
    "PLUS_MINUS": "plus_minus",
})

# Step 2: define the exact column order your Supabase table uses
supabase_col_order = [
    "game_id",
    "team_id",
    "game_date",
    "matchup",
    "wl",
    "pts",
    "plus_minus",
    "season_id",
    "fg_pct",
    "fg3_pct",
    "ft_pct",
    "reb",
    "ast",
    "stl",
    "blk",
    "tov",
]

# Step 3: restrict to those columns and reorder
fact_team_games_df = fact_team_games_df[supabase_col_order]

# Step 4: convert dates to ISO format (Supabase/Postgres friendly)
fact_team_games_df["game_date"] = (
    fact_team_games_df["game_date"].astype("datetime64[ns]").dt.date
)

fact_team_games_df.head()

,game_id,team_id,game_date,matchup,wl,pts,plus_minus,season_id,fg_pct,fg3_pct,ft_pct,reb,ast,stl,blk,tov
0,0022500227,1610612737,2025-11-13,ATL @ UTA,None,21,8.0,22025,0.667,0.571,0.500,7.0,5,2.0,0,2
1,0022500223,1610612737,2025-11-12,ATL @ SAC,W,133,33.0,22025,0.576,0.425,0.818,45.0,42,14.0,6,19
2,0022500206,1610612737,2025-11-10,ATL @ LAC,W,105,3.0,22025,0.452,0.382,0.800,41.0,30,7.0,8,11
3,0022500185,1610612737,2025-11-08,ATL vs. LAL,W,122,20.0,22025,0.516,0.410,0.909,37.0,37,13.0,6,11
4,0022500030,1610612737,2025-11-07,ATL vs. TOR,L,97,-12.0,22025,0.344,0.237,0.957,54.0,24,8.0,7,15

In [82]:
# Ensure game_date is a datetime type
fact_team_games_df["game_date"] = pd.to_datetime(fact_team_games_df["game_date"]).dt.date

# Define cutoff
cutoff_date = pd.to_datetime("2025-11-13").date()

# Filter rows
fact_team_games_df = fact_team_games_df[fact_team_games_df["game_date"] < cutoff_date]

fact_team_games_df.head()

,game_id,team_id,game_date,matchup,wl,pts,plus_minus,season_id,fg_pct,fg3_pct,ft_pct,reb,ast,stl,blk,tov
1,0022500223,1610612737,2025-11-12,ATL @ SAC,W,133,33.0,22025,0.576,0.425,0.818,45.0,42,14.0,6,19
2,0022500206,1610612737,2025-11-10,ATL @ LAC,W,105,3.0,22025,0.452,0.382,0.800,41.0,30,7.0,8,11
3,0022500185,1610612737,2025-11-08,ATL vs. LAL,W,122,20.0,22025,0.516,0.410,0.909,37.0,37,13.0,6,11
4,0022500030,1610612737,2025-11-07,ATL vs. TOR,L,97,-12.0,22025,0.344,0.237,0.957,54.0,24,8.0,7,15
5,0022500166,1610612737,2025-11-04,ATL vs. ORL,W,127,15.0,22025,0.556,0.433,0.810,34.0,23,11.0,6,18

In [83]:
# 1) Ensure datetime, then convert to ISO string
fact_team_games_df["game_date"] = (
    pd.to_datetime(fact_team_games_df["game_date"])
      .dt.strftime("%Y-%m-%d")   # now plain strings like "2025-11-12"
)

# 2) (Recommended) Replace NaN/NaT with None so JSON can handle them
fact_team_games_df = fact_team_games_df.replace({np.nan: None})

In [84]:
## drop duplicates in the raw data
fact_team_games_df = fact_team_games_df.drop_duplicates(
    subset=["game_id", "team_id"],
    keep="first"
).reset_index(drop=True)

In [89]:
fact_team_games_df.shape

(109412, 16)

#### Grab player season stats

In [128]:

SEASONS = ["2020-21","2021-22","2022-23","2023-24", "2024-25"]
player_season_dfs = []

for SEASON in SEASONS:
    print(f"Processing season: {SEASON}")
    player_season_df = leaguedashplayerstats.LeagueDashPlayerStats(
        season=SEASON,
        season_type_all_star="Regular Season",   # or "Playoffs"
        per_mode_detailed="PerGame",            # "Totals", "Per36", "Per100Possessions", etc.
        measure_type_detailed_defense="Base",       # "Base", "Advanced", "Misc", "Scoring", etc.
    ).get_data_frames()[0]
    print(f"Season {SEASON} data shape: {player_season_df.shape}")
    player_season_df['season'] = SEASON
    player_season_dfs.append(player_season_df)

player_season_df_compiled = pd.concat(player_season_dfs)

player_season_df_compiled.head()
player_season_df_compiled.columns

Processing season: 2020-21
Season 2020-21 data shape: (540, 67)
Processing season: 2021-22
Season 2021-22 data shape: (605, 67)
Processing season: 2022-23
Season 2022-23 data shape: (539, 67)
Processing season: 2023-24
Season 2023-24 data shape: (572, 67)
Processing season: 2024-25
Season 2024-25 data shape: (569, 67)

Index(['PLAYER_ID', 'PLAYER_NAME', 'NICKNAME', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS',
       'NBA_FANTASY_PTS', 'DD2', 'TD3', 'WNBA_FANTASY_PTS', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK',
       'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK',
       'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK',
       'DD2_RANK', 'TD3_RANK', 'WNBA_FANTASY_PTS_RANK', 'TEAM_COUNT',
       'season'],
      dtype='object')

In [129]:
player_season_df_compiled.shape

(2825, 68)

In [130]:
player_season_df_compiled.head()

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,TEAM_COUNT,season
0,203932,Aaron Gordon,Aaron,1610612743,DEN,25.0,50,29,21,0.580,...,228,79,136,139,115,115,17,117,2,2020-21
1,1628988,Aaron Holiday,Aaron,1610612754,IND,24.0,66,30,36,0.455,...,335,283,276,228,338,178,29,328,1,2020-21
2,1630174,Aaron Nesmith,Aaron,1610612738,BOS,21.0,46,22,24,0.478,...,198,411,382,250,399,245,29,388,1,2020-21
3,1627846,Abdel Nader,Abdel,1610612756,PHX,27.0,24,16,8,0.667,...,341,216,302,143,348,245,29,347,1,2020-21
4,1629690,Adam Mokoka,Adam,1610612741,CHI,22.0,14,3,11,0.214,...,518,524,518,280,525,245,29,526,1,2020-21

In [131]:
for c in player_season_df_compiled.columns:
    print(f"The data type for column, {c} is {player_season_df_compiled[c].dtype}")

The data type for column, PLAYER_ID is int64
The data type for column, PLAYER_NAME is object
The data type for column, NICKNAME is object
The data type for column, TEAM_ID is int64
The data type for column, TEAM_ABBREVIATION is object
The data type for column, AGE is float64
The data type for column, GP is int64
The data type for column, W is int64
The data type for column, L is int64
The data type for column, W_PCT is float64
The data type for column, MIN is float64
The data type for column, FGM is float64
The data type for column, FGA is float64
The data type for column, FG_PCT is float64
The data type for column, FG3M is float64
The data type for column, FG3A is float64
The data type for column, FG3_PCT is float64
The data type for column, FTM is float64
The data type for column, FTA is float64
The data type for column, FT_PCT is float64
The data type for column, OREB is float64
The data type for column, DREB is float64
The data type for column, REB is float64
The data type for column, AST is float64
The data type for column, TOV is float64
The data type for column, STL is float64
The data type for column, BLK is float64
The data type for column, BLKA is float64
The data type for column, PF is float64
The data type for column, PFD is float64
The data type for column, PTS is float64
The data type for column, PLUS_MINUS is float64
The data type for column, NBA_FANTASY_PTS is float64
The data type for column, DD2 is int64
The data type for column, TD3 is int64
The data type for column, WNBA_FANTASY_PTS is float64
The data type for column, GP_RANK is int64
The data type for column, W_RANK is int64
The data type for column, L_RANK is int64
The data type for column, W_PCT_RANK is int64
The data type for column, MIN_RANK is int64
The data type for column, FGM_RANK is int64
The data type for column, FGA_RANK is int64
The data type for column, FG_PCT_RANK is int64
The data type for column, FG3M_RANK is int64
The data type for column, FG3A_RANK is int64
The data type for column, FG3_PCT_RANK is int64
The data type for column, FTM_RANK is int64
The data type for column, FTA_RANK is int64
The data type for column, FT_PCT_RANK is int64
The data type for column, OREB_RANK is int64
The data type for column, DREB_RANK is int64
The data type for column, REB_RANK is int64
The data type for column, AST_RANK is int64
The data type for column, TOV_RANK is int64
The data type for column, STL_RANK is int64
The data type for column, BLK_RANK is int64
The data type for column, BLKA_RANK is int64
The data type for column, PF_RANK is int64
The data type for column, PFD_RANK is int64
The data type for column, PTS_RANK is int64
The data type for column, PLUS_MINUS_RANK is int64
The data type for column, NBA_FANTASY_PTS_RANK is int64
The data type for column, DD2_RANK is int64
The data type for column, TD3_RANK is int64
The data type for column, WNBA_FANTASY_PTS_RANK is int64
The data type for column, TEAM_COUNT is int64
The data type for column, season is object

In [132]:
player_season_df_compiled["PLAYER_NAME"] = player_season_df_compiled["PLAYER_NAME"].astype(str)
player_season_df_compiled["NICKNAME"] = player_season_df_compiled["NICKNAME"].astype(str)
player_season_df_compiled["TEAM_ABBREVIATION"] = player_season_df_compiled["TEAM_ABBREVIATION"].astype(str)

In [133]:
rename_map = {
    "PLAYER_ID": "player_id",
    "PLAYER_NAME": "player_name",
    "NICKNAME": "nickname",
    "TEAM_ID": "team_id",
    "TEAM_ABBREVIATION": "team_abbreviation",
    "AGE": "age",
    "GP": "gp",
    "W": "w",
    "L": "l",
    "W_PCT": "w_pct",
    "MIN": "min",
    "FGM": "fgm",
    "FGA": "fga",
    "FG_PCT": "fg_pct",
    "FG3M": "fg3m",
    "FG3A": "fg3a",
    "FG3_PCT": "fg3_pct",
    "FTM": "ftm",
    "FTA": "fta",
    "FT_PCT": "ft_pct",
    "OREB": "oreb",
    "DREB": "dreb",
    "REB": "reb",
    "AST": "ast",
    "TOV": "tov",
    "STL": "stl",
    "BLK": "blk",
    "BLKA": "blka",
    "PF": "pf",
    "PFD": "pfd",
    "PTS": "pts",
    "PLUS_MINUS": "plus_minus",
    "NBA_FANTASY_PTS": "nba_fantasy_pts",
    "DD2": "dd2",
    "TD3": "td3",
    "WNBA_FANTASY_PTS": "wnba_fantasy_pts",
    "GP_RANK": "gp_rank",
    "W_RANK": "w_rank",
    "L_RANK": "l_rank",
    "W_PCT_RANK": "w_pct_rank",
    "MIN_RANK": "min_rank",
    "FGM_RANK": "fgm_rank",
    "FGA_RANK": "fga_rank",
    "FG_PCT_RANK": "fg_pct_rank",
    "FG3M_RANK": "fg3m_rank",
    "FG3A_RANK": "fg3a_rank",
    "FG3_PCT_RANK": "fg3_pct_rank",
    "FTM_RANK": "ftm_rank",
    "FTA_RANK": "fta_rank",
    "FT_PCT_RANK": "ft_pct_rank",
    "OREB_RANK": "oreb_rank",
    "DREB_RANK": "dreb_rank",
    "REB_RANK": "reb_rank",
    "AST_RANK": "ast_rank",
    "TOV_RANK": "tov_rank",
    "STL_RANK": "stl_rank",
    "BLK_RANK": "blk_rank",
    "BLKA_RANK": "blka_rank",
    "PF_RANK": "pf_rank",
    "PFD_RANK": "pfd_rank",
    "PTS_RANK": "pts_rank",
    "PLUS_MINUS_RANK": "plus_minus_rank",
    "NBA_FANTASY_PTS_RANK": "nba_fantasy_pts_rank",
    "DD2_RANK": "dd2_rank",
    "TD3_RANK": "td3_rank",
    "WNBA_FANTASY_PTS_RANK": "wnba_fantasy_pts_rank",
    "TEAM_COUNT": "team_count",
    "season": "season",
}

player_season_df_compiled = player_season_df_compiled.rename(columns=rename_map)

#### Test write to Supabase

#### Connect to Supabase

In [43]:
SUPABASE_URL = os.environ.get("SUPABASE_URL")
SUPABASE_KEY = os.environ.get("SUPABASE_SERVICE_KEY")  # or anon key for de

In [117]:
supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)

In [45]:
def upsert_in_chunks(table_name, records, chunk_size=500, conflict_cols=None):
    for i in range(0, len(records), chunk_size):
        chunk = records[i:i+chunk_size]
        query = supabase.table(table_name)
        if conflict_cols:
            query = query.upsert(chunk, on_conflict=",".join(conflict_cols))
        else:
            query = query.insert(chunk)
        resp = query.execute()
        # Optional: print or check resp
        print(f"{table_name}: upserted rows {i}–{i+len(chunk)-1}")

#### Convert dataframes to json

In [61]:
dim_teams_records = teams_df.to_dict(orient="records")

In [64]:
dim_players_records = players_df.to_dict(orient="records")

In [91]:
fact_team_games_records = fact_team_games_df.to_dict(orient="records")

In [134]:
fact_player_season_records = player_season_df_compiled.to_dict(orient="records")

In [116]:
player_season_df_compiled.columns

Index(['PLAYER_ID', 'PLAYER_NAME', 'NICKNAME', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS',
       'NBA_FANTASY_PTS', 'DD2', 'TD3', 'WNBA_FANTASY_PTS', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK',
       'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK',
       'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK',
       'DD2_RANK', 'TD3_RANK', 'WNBA_FANTASY_PTS_RANK', 'TEAM_COUNT',
       'season'],
      dtype='object')

In [63]:
# dim_teams
upsert_in_chunks("dim_teams", dim_teams_records, chunk_size=200, conflict_cols=["team_id"])

dim_teams: upserted rows 0–29

In [65]:
# dim_teams
upsert_in_chunks("dim_players", dim_players_records, chunk_size=200, conflict_cols=["player_id"])

dim_players: upserted rows 0–199
dim_players: upserted rows 200–399
dim_players: upserted rows 400–599
dim_players: upserted rows 600–799
dim_players: upserted rows 800–999
dim_players: upserted rows 1000–1199
dim_players: upserted rows 1200–1399
dim_players: upserted rows 1400–1599
dim_players: upserted rows 1600–1799
dim_players: upserted rows 1800–1999
dim_players: upserted rows 2000–2199
dim_players: upserted rows 2200–2399
dim_players: upserted rows 2400–2599
dim_players: upserted rows 2600–2799
dim_players: upserted rows 2800–2999
dim_players: upserted rows 3000–3199
dim_players: upserted rows 3200–3399
dim_players: upserted rows 3400–3599
dim_players: upserted rows 3600–3799
dim_players: upserted rows 3800–3999
dim_players: upserted rows 4000–4199
dim_players: upserted rows 4200–4399
dim_players: upserted rows 4400–4599
dim_players: upserted rows 4600–4799
dim_players: upserted rows 4800–4999
dim_players: upserted rows 5000–5102

In [92]:
# fact_team_games
upsert_in_chunks(
    "fact_team_games",
    fact_team_games_records,
    chunk_size=500,
    conflict_cols=["game_id", "team_id"],
)

fact_team_games: upserted rows 0–499
fact_team_games: upserted rows 500–999
fact_team_games: upserted rows 1000–1499
fact_team_games: upserted rows 1500–1999
fact_team_games: upserted rows 2000–2499
fact_team_games: upserted rows 2500–2999
fact_team_games: upserted rows 3000–3499
fact_team_games: upserted rows 3500–3999
fact_team_games: upserted rows 4000–4499
fact_team_games: upserted rows 4500–4999
fact_team_games: upserted rows 5000–5499
fact_team_games: upserted rows 5500–5999
fact_team_games: upserted rows 6000–6499
fact_team_games: upserted rows 6500–6999
fact_team_games: upserted rows 7000–7499
fact_team_games: upserted rows 7500–7999
fact_team_games: upserted rows 8000–8499
fact_team_games: upserted rows 8500–8999
fact_team_games: upserted rows 9000–9499
fact_team_games: upserted rows 9500–9999
fact_team_games: upserted rows 10000–10499
fact_team_games: upserted rows 10500–10999
fact_team_games: upserted rows 11000–11499
fact_team_games: upserted rows 11500–11999
fact_team_games: upserted rows 12000–12499
fact_team_games: upserted rows 12500–12999
fact_team_games: upserted rows 13000–13499
fact_team_games: upserted rows 13500–13999
fact_team_games: upserted rows 14000–14499
fact_team_games: upserted rows 14500–14999
fact_team_games: upserted rows 15000–15499
fact_team_games: upserted rows 15500–15999
fact_team_games: upserted rows 16000–16499
fact_team_games: upserted rows 16500–16999
fact_team_games: upserted rows 17000–17499
fact_team_games: upserted rows 17500–17999
fact_team_games: upserted rows 18000–18499
fact_team_games: upserted rows 18500–18999
fact_team_games: upserted rows 19000–19499
fact_team_games: upserted rows 19500–19999
fact_team_games: upserted rows 20000–20499
fact_team_games: upserted rows 20500–20999
fact_team_games: upserted rows 21000–21499
fact_team_games: upserted rows 21500–21999
fact_team_games: upserted rows 22000–22499
fact_team_games: upserted rows 22500–22999
fact_team_games: upserted rows 23000–23499
fact_team_games: upserted rows 23500–23999
fact_team_games: upserted rows 24000–24499
fact_team_games: upserted rows 24500–24999
fact_team_games: upserted rows 25000–25499
fact_team_games: upserted rows 25500–25999
fact_team_games: upserted rows 26000–26499
fact_team_games: upserted rows 26500–26999
fact_team_games: upserted rows 27000–27499
fact_team_games: upserted rows 27500–27999
fact_team_games: upserted rows 28000–28499
fact_team_games: upserted rows 28500–28999
fact_team_games: upserted rows 29000–29499
fact_team_games: upserted rows 29500–29999
fact_team_games: upserted rows 30000–30499
fact_team_games: upserted rows 30500–30999
fact_team_games: upserted rows 31000–31499
fact_team_games: upserted rows 31500–31999
fact_team_games: upserted rows 32000–32499
fact_team_games: upserted rows 32500–32999
fact_team_games: upserted rows 33000–33499
fact_team_games: upserted rows 33500–33999
fact_team_games: upserted rows 34000–34499
fact_team_games: upserted rows 34500–34999
fact_team_games: upserted rows 35000–35499
fact_team_games: upserted rows 35500–35999
fact_team_games: upserted rows 36000–36499
fact_team_games: upserted rows 36500–36999
fact_team_games: upserted rows 37000–37499
fact_team_games: upserted rows 37500–37999
fact_team_games: upserted rows 38000–38499
fact_team_games: upserted rows 38500–38999
fact_team_games: upserted rows 39000–39499
fact_team_games: upserted rows 39500–39999
fact_team_games: upserted rows 40000–40499
fact_team_games: upserted rows 40500–40999
fact_team_games: upserted rows 41000–41499
fact_team_games: upserted rows 41500–41999
fact_team_games: upserted rows 42000–42499
fact_team_games: upserted rows 42500–42999
fact_team_games: upserted rows 43000–43499
fact_team_games: upserted rows 43500–43999
fact_team_games: upserted rows 44000–44499
fact_team_games: upserted rows 44500–44999
fact_team_games: upserted rows 45000–45499
fact_team_games: upserted rows 45500–45999
fact_team_games: upserted rows 46000–46499
fact_team_games: upserted rows 46500–46999
fact_team_games: upserted rows 47000–47499
fact_team_games: upserted rows 47500–47999
fact_team_games: upserted rows 48000–48499
fact_team_games: upserted rows 48500–48999
fact_team_games: upserted rows 49000–49499
fact_team_games: upserted rows 49500–49999
fact_team_games: upserted rows 50000–50499
fact_team_games: upserted rows 50500–50999
fact_team_games: upserted rows 51000–51499
fact_team_games: upserted rows 51500–51999
fact_team_games: upserted rows 52000–52499
fact_team_games: upserted rows 52500–52999
fact_team_games: upserted rows 53000–53499
fact_team_games: upserted rows 53500–53999
fact_team_games: upserted rows 54000–54499
fact_team_games: upserted rows 54500–54999
fact_team_games: upserted rows 55000–55499
fact_team_games: upserted rows 55500–55999
fact_team_games: upserted rows 56000–56499
fact_team_games: upserted rows 56500–56999
fact_team_games: upserted rows 57000–57499
fact_team_games: upserted rows 57500–57999
fact_team_games: upserted rows 58000–58499
fact_team_games: upserted rows 58500–58999
fact_team_games: upserted rows 59000–59499
fact_team_games: upserted rows 59500–59999
fact_team_games: upserted rows 60000–60499
fact_team_games: upserted rows 60500–60999
fact_team_games: upserted rows 61000–61499
fact_team_games: upserted rows 61500–61999
fact_team_games: upserted rows 62000–62499
fact_team_games: upserted rows 62500–62999
fact_team_games: upserted rows 63000–63499
fact_team_games: upserted rows 63500–63999
fact_team_games: upserted rows 64000–64499
fact_team_games: upserted rows 64500–64999
fact_team_games: upserted rows 65000–65499
fact_team_games: upserted rows 65500–65999
fact_team_games: upserted rows 66000–66499
fact_team_games: upserted rows 66500–66999
fact_team_games: upserted rows 67000–67499
fact_team_games: upserted rows 67500–67999
fact_team_games: upserted rows 68000–68499
fact_team_games: upserted rows 68500–68999
fact_team_games: upserted rows 69000–69499
fact_team_games: upserted rows 69500–69999
fact_team_games: upserted rows 70000–70499
fact_team_games: upserted rows 70500–70999
fact_team_games: upserted rows 71000–71499
fact_team_games: upserted rows 71500–71999
fact_team_games: upserted rows 72000–72499
fact_team_games: upserted rows 72500–72999
fact_team_games: upserted rows 73000–73499
fact_team_games: upserted rows 73500–73999
fact_team_games: upserted rows 74000–74499
fact_team_games: upserted rows 74500–74999
fact_team_games: upserted rows 75000–75499
fact_team_games: upserted rows 75500–75999
fact_team_games: upserted rows 76000–76499
fact_team_games: upserted rows 76500–76999
fact_team_games: upserted rows 77000–77499
fact_team_games: upserted rows 77500–77999
fact_team_games: upserted rows 78000–78499
fact_team_games: upserted rows 78500–78999
fact_team_games: upserted rows 79000–79499
fact_team_games: upserted rows 79500–79999
fact_team_games: upserted rows 80000–80499
fact_team_games: upserted rows 80500–80999
fact_team_games: upserted rows 81000–81499
fact_team_games: upserted rows 81500–81999
fact_team_games: upserted rows 82000–82499
fact_team_games: upserted rows 82500–82999
fact_team_games: upserted rows 83000–83499
fact_team_games: upserted rows 83500–83999
fact_team_games: upserted rows 84000–84499
fact_team_games: upserted rows 84500–84999
fact_team_games: upserted rows 85000–85499
fact_team_games: upserted rows 85500–85999
fact_team_games: upserted rows 86000–86499
fact_team_games: upserted rows 86500–86999
fact_team_games: upserted rows 87000–87499
fact_team_games: upserted rows 87500–87999
fact_team_games: upserted rows 88000–88499
fact_team_games: upserted rows 88500–88999
fact_team_games: upserted rows 89000–89499
fact_team_games: upserted rows 89500–89999
fact_team_games: upserted rows 90000–90499
fact_team_games: upserted rows 90500–90999
fact_team_games: upserted rows 91000–91499
fact_team_games: upserted rows 91500–91999
fact_team_games: upserted rows 92000–92499
fact_team_games: upserted rows 92500–92999
fact_team_games: upserted rows 93000–93499
fact_team_games: upserted rows 93500–93999
fact_team_games: upserted rows 94000–94499
fact_team_games: upserted rows 94500–94999
fact_team_games: upserted rows 95000–95499
fact_team_games: upserted rows 95500–95999
fact_team_games: upserted rows 96000–96499
fact_team_games: upserted rows 96500–96999
fact_team_games: upserted rows 97000–97499
fact_team_games: upserted rows 97500–97999
fact_team_games: upserted rows 98000–98499
fact_team_games: upserted rows 98500–98999
fact_team_games: upserted rows 99000–99499
fact_team_games: upserted rows 99500–99999
fact_team_games: upserted rows 100000–100499
fact_team_games: upserted rows 100500–100999
fact_team_games: upserted rows 101000–101499
fact_team_games: upserted rows 101500–101999
fact_team_games: upserted rows 102000–102499
fact_team_games: upserted rows 102500–102999
fact_team_games: upserted rows 103000–103499
fact_team_games: upserted rows 103500–103999
fact_team_games: upserted rows 104000–104499
fact_team_games: upserted rows 104500–104999
fact_team_games: upserted rows 105000–105499
fact_team_games: upserted rows 105500–105999
fact_team_games: upserted rows 106000–106499
fact_team_games: upserted rows 106500–106999
fact_team_games: upserted rows 107000–107499
fact_team_games: upserted rows 107500–107999
fact_team_games: upserted rows 108000–108499
fact_team_games: upserted rows 108500–108999
fact_team_games: upserted rows 109000–109411

In [136]:
# fact_player_season_stats
upsert_in_chunks(
    "fact_player_season_stats",
    fact_player_season_records,
    chunk_size=500,
    conflict_cols=["player_id", "season"],
)

fact_player_season_stats: upserted rows 0–499
fact_player_season_stats: upserted rows 500–999
fact_player_season_stats: upserted rows 1000–1499
fact_player_season_stats: upserted rows 1500–1999
fact_player_season_stats: upserted rows 2000–2499
fact_player_season_stats: upserted rows 2500–2824