## NBA API

### Description
- Ingest data via nba_api
- reformat data
- push data to Supabase
- This notebook will is meant to explore the nba_api package and test push some data to Supabase
- Future python files will be designed to package up consistent data pulls from the api and updates to Supabase tables
- Once data is consistently landed, I will work on building some ML models and Neural Networks to add Data Science flair to the project
- Final step will be packaging it up in a simple web app to allow others to interact

### Import Packaages

In [1]:
## import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import nba_api
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import players
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.static import teams as static_teams
from nba_api.stats.static import players as static_players
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import leaguedashplayerstats
import time
import requests
import json
import seaborn as sns
import sys
import os
from supabase import create_client, Client
from dotenv import load_dotenv

load_dotenv()

True

### Test pull to grab recent ATL games

In [2]:

atl = 1610612737  # Atlanta Hawks team_id
games = leaguegamefinder.LeagueGameFinder(team_id_nullable=atl).get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22025,1610612737,ATL,Atlanta Hawks,0022500327,2025-12-03,ATL vs. LAC,L,241,92,...,0.786,7,31,38,20,9.0,1,16,17,-23.0
1,22025,1610612737,ATL,Atlanta Hawks,0022500309,2025-12-01,ATL @ DET,L,241,98,...,0.727,7,27,34,27,15.0,4,13,16,-1.0
2,22025,1610612737,ATL,Atlanta Hawks,0022500304,2025-11-30,ATL @ PHI,W,288,142,...,0.756,14,44,58,36,10.0,6,21,27,8.0
3,22025,1610612737,ATL,Atlanta Hawks,0022500069,2025-11-28,ATL vs. CLE,W,242,130,...,0.692,6,32,38,36,11.0,5,12,14,7.0
4,22025,1610612737,ATL,Atlanta Hawks,0022500057,2025-11-25,ATL @ WAS,L,241,113,...,0.750,14,30,44,33,4.0,6,18,19,-19.0

In [3]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

### Lets do some broader things to get data
- first use the static databases to get team and player IDs (thesse can be dim tables)
- then lets flush out some broader functionality with usefful endpoints

#### Grab team IDs

In [51]:
# All teams (list[dict])
teams_list = static_teams.get_teams()
teams_df = pd.DataFrame(teams_list).sort_values("full_name")
teams_df["date_time_processed"] = pd.Timestamp.utcnow()
teams_df["date_time_processed"] = teams_df["date_time_processed"].astype(str)
teams_df.head()

,id,full_name,abbreviation,nickname,city,state,year_founded,date_time_processed
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949,2025-12-05 01:59:00.683822+00:00
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946,2025-12-05 01:59:00.683822+00:00
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976,2025-12-05 01:59:00.683822+00:00
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988,2025-12-05 01:59:00.683822+00:00
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966,2025-12-05 01:59:00.683822+00:00

In [52]:
def get_team_ids_df():
    teams_list = static_teams.get_teams()
    teams_df = pd.DataFrame(teams_list).sort_values("full_name")
    teams_df.rename(columns={'id': 'team_id'}, inplace=True)
    ## add a date time processed column
    teams_df["date_time_processed"] = pd.Timestamp.utcnow()
    teams_df["date_time_processed"] = teams_df["date_time_processed"].astype(str)
    return teams_df

In [53]:
teams_df = get_team_ids_df()
teams_df.head()

,team_id,full_name,abbreviation,nickname,city,state,year_founded,date_time_processed
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949,2025-12-05 01:59:15.764059+00:00
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946,2025-12-05 01:59:15.764059+00:00
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976,2025-12-05 01:59:15.764059+00:00
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988,2025-12-05 01:59:15.764059+00:00
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966,2025-12-05 01:59:15.764059+00:00

In [54]:
teams_df.shape

(30, 8)

#### Create some helper dictionaries

In [55]:
# Helper maps
TEAM_BY_ABBR = {t["abbreviation"]: t for t in teams_list}
TEAM_BY_ID   = {t["id"]: t for t in teams_list}

# Example lookups
TEAM_BY_ABBR["ATL"]["id"]         # -> 1610612737
TEAM_BY_ID[1610612737]["full_name"]  # -> "Atlanta Hawks"

'Atlanta Hawks'

In [56]:
def get_team_id():
    teams_list = static_teams.get_teams()
    TEAM_BY_ID   = {t["id"]: t for t in teams_list}
    return TEAM_BY_ID

In [57]:
team_id_dicts = get_team_id()

#### Grab Player IDs

In [58]:
# All players (current + historical)
players_list = static_players.get_players()
players_df = pd.DataFrame(players_list)
players_df.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [59]:
# Find by name (returns list; pick the first if unique)
static_players.find_players_by_full_name("LeBron James")

[{'id': 2544,
  'full_name': 'LeBron James',
  'first_name': 'LeBron',
  'last_name': 'James',
  'is_active': True}]

In [60]:
def get_player_df():
    players_list = static_players.get_players()
    players_df = pd.DataFrame(players_list)
    players_df.rename(columns={'id': 'player_id'}, inplace=True)
    ## add a date time processed column
    players_df["date_time_processed"] = pd.Timestamp.utcnow()
    players_df["date_time_processed"] = players_df["date_time_processed"].astype(str)
    return players_df

In [61]:
players_df = get_player_df()
players_df.head()

,player_id,full_name,first_name,last_name,is_active,date_time_processed
0,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,2025-12-05 01:59:35.006494+00:00
1,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,2025-12-05 01:59:35.006494+00:00
2,76003,Kareem Abdul-Jabbar,Kareem,Abdul-Jabbar,False,2025-12-05 01:59:35.006494+00:00
3,51,Mahmoud Abdul-Rauf,Mahmoud,Abdul-Rauf,False,2025-12-05 01:59:35.006494+00:00
4,1505,Tariq Abdul-Wahad,Tariq,Abdul-Wahad,False,2025-12-05 01:59:35.006494+00:00

#### Lets look at the game logs endpoint

In [62]:
## here is one call to get all atl games

atl = 1610612737  # Atlanta Hawks team_id
games = leaguegamefinder.LeagueGameFinder(team_id_nullable=atl).get_data_frames()[0]

games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22025,1610612737,ATL,Atlanta Hawks,0022500327,2025-12-03,ATL vs. LAC,L,241,92,...,0.786,7,31,38,20,9.0,1,16,17,-23.0
1,22025,1610612737,ATL,Atlanta Hawks,0022500309,2025-12-01,ATL @ DET,L,241,98,...,0.727,7,27,34,27,15.0,4,13,16,-1.0
2,22025,1610612737,ATL,Atlanta Hawks,0022500304,2025-11-30,ATL @ PHI,W,288,142,...,0.756,14,44,58,36,10.0,6,21,27,8.0
3,22025,1610612737,ATL,Atlanta Hawks,0022500069,2025-11-28,ATL vs. CLE,W,242,130,...,0.692,6,32,38,36,11.0,5,12,14,7.0
4,22025,1610612737,ATL,Atlanta Hawks,0022500057,2025-11-25,ATL @ WAS,L,241,113,...,0.750,14,30,44,33,4.0,6,18,19,-19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3817,21983,1610612737,ATL,Atlanta Hawks,0028300041,1983-11-04,ATL vs. CHI,W,240,103,...,0.692,19,27,46,31,14.0,13,18,27,NaN
3818,21983,1610612737,ATL,Atlanta Hawks,0028300027,1983-11-01,ATL vs. WAS,W,240,95,...,0.633,12,29,41,20,7.0,10,16,34,NaN
3819,21983,1610612737,ATL,Atlanta Hawks,0028300014,1983-10-29,ATL vs. DET,W,240,117,...,0.633,27,21,48,28,14.0,7,23,35,NaN
3820,21983,1610612737,ATL,Atlanta Hawks,0028300005,1983-10-28,ATL @ NJN,L,240,108,...,0.684,15,18,33,14,10.0,5,17,30,NaN
3821,12005,1610612737,ATL,Atlanta Hawks,None,None,None,L,240,84,...,0.667,17,26,43,15,8.0,1,17,29,NaN

In [66]:
team_id_list = [t for t in teams_df['team_id']]

In [ ]:
team_games = [] 
for t in teams_df['team_id']:
    games_df = leaguegamefinder.LeagueGameFinder(team_id_nullable=t).get_data_frames()[0]
    # add a date time processed column
    games_df["date_time_processed"] = pd.Timestamp.utcnow()
    games_df["date_time_processed"] = games_df["date_time_processed"].astype(str)
    team_games.append(games_df)

team_games_df = pd.concat(team_games)

#### Make sure we got all the data

In [71]:
team_games_df['TEAM_NAME'].value_counts()

TEAM_NAME
Los Angeles Lakers                   4098
Boston Celtics                       4046
San Antonio Spurs                    3988
Utah Jazz                            3922
Chicago Bulls                        3893
Houston Rockets                      3889
Dallas Mavericks                     3888
Detroit Pistons                      3884
Phoenix Suns                         3877
Indiana Pacers                       3876
Portland Trail Blazers               3856
Cleveland Cavaliers                  3850
Philadelphia 76ers                   3850
Golden State Warriors                3849
Denver Nuggets                       3843
New York Knicks                      3839
Milwaukee Bucks                      3833
Atlanta Hawks                        3822
Sacramento Kings                     3557
Miami Heat                           3552
Orlando Magic                        3245
Minnesota Timberwolves               3216
Toronto Raptors                      2753
Los Angeles Clippers                 2675
Washington Wizards                   2540
New Jersey Nets                      2497
Memphis Grizzlies                    2312
Charlotte Hornets                    2199
Seattle SuperSonics                  2187
Oklahoma City Thunder                1717
Brooklyn Nets                        1263
Washington Bullets                   1172
New Orleans Pelicans                 1146
LA Clippers                           998
Charlotte Bobcats                     901
New Orleans Hornets                   842
Vancouver Grizzlies                   460
Kansas City Kings                     167
New Orleans/Oklahoma City Hornets     164
San Diego Clippers                     82
Name: count, dtype: int64

In [72]:
team_games_df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS',
       'date_time_processed'],
      dtype='object')

In [73]:
# Step 1: rename columns to match Supabase schema
fact_team_games_df = team_games_df.rename(columns={
    "SEASON_ID": "season_id",
    "TEAM_ID": "team_id",
    "GAME_ID": "game_id",
    "GAME_DATE": "game_date",
    "MATCHUP": "matchup",
    "WL": "wl",
    "PTS": "pts",
    "FG_PCT": "fg_pct",
    "FG3_PCT": "fg3_pct",
    "FT_PCT": "ft_pct",
    "REB": "reb",
    "AST": "ast",
    "STL": "stl",
    "BLK": "blk",
    "TOV": "tov",
    "PLUS_MINUS": "plus_minus",
    "DATE_TIME_PROCESSED": "date_time_processed"
})

# Step 2: define the exact column order your Supabase table uses
supabase_col_order = [
    "game_id",
    "team_id",
    "game_date",
    "matchup",
    "wl",
    "pts",
    "plus_minus",
    "season_id",
    "fg_pct",
    "fg3_pct",
    "ft_pct",
    "reb",
    "ast",
    "stl",
    "blk",
    "tov",
    "date_time_processed"
]

# Step 3: restrict to those columns and reorder
fact_team_games_df = fact_team_games_df[supabase_col_order]

# Step 4: convert dates to ISO format (Supabase/Postgres friendly)
fact_team_games_df["game_date"] = (
    fact_team_games_df["game_date"].astype("datetime64[ns]").dt.date
)

fact_team_games_df.head()

,game_id,team_id,game_date,matchup,wl,pts,plus_minus,season_id,fg_pct,fg3_pct,ft_pct,reb,ast,stl,blk,tov,date_time_processed
0,0022500327,1610612737,2025-12-03,ATL vs. LAC,L,92,-23.0,22025,0.400,0.333,0.786,38.0,20,9.0,1,16,2025-12-05 01:46:00.605828+00:00
1,0022500309,1610612737,2025-12-01,ATL @ DET,L,98,-1.0,22025,0.427,0.350,0.727,34.0,27,15.0,4,13,2025-12-05 01:46:00.605828+00:00
2,0022500304,1610612737,2025-11-30,ATL @ PHI,W,142,8.0,22025,0.462,0.333,0.756,58.0,36,10.0,6,21,2025-12-05 01:46:00.605828+00:00
3,0022500069,1610612737,2025-11-28,ATL vs. CLE,W,130,7.0,22025,0.527,0.372,0.692,38.0,36,11.0,5,12,2025-12-05 01:46:00.605828+00:00
4,0022500057,1610612737,2025-11-25,ATL @ WAS,L,113,-19.0,22025,0.453,0.349,0.750,44.0,33,4.0,6,18,2025-12-05 01:46:00.605828+00:00

In [74]:
# Ensure game_date is a datetime type
fact_team_games_df["game_date"] = pd.to_datetime(fact_team_games_df["game_date"]).dt.date

# Define cutoff
cutoff_date = pd.to_datetime("2025-12-03").date()

# Filter rows
fact_team_games_df = fact_team_games_df[fact_team_games_df["game_date"] < cutoff_date]

fact_team_games_df.head()

,game_id,team_id,game_date,matchup,wl,pts,plus_minus,season_id,fg_pct,fg3_pct,ft_pct,reb,ast,stl,blk,tov,date_time_processed
1,0022500309,1610612737,2025-12-01,ATL @ DET,L,98,-1.0,22025,0.427,0.350,0.727,34.0,27,15.0,4,13,2025-12-05 01:46:00.605828+00:00
2,0022500304,1610612737,2025-11-30,ATL @ PHI,W,142,8.0,22025,0.462,0.333,0.756,58.0,36,10.0,6,21,2025-12-05 01:46:00.605828+00:00
3,0022500069,1610612737,2025-11-28,ATL vs. CLE,W,130,7.0,22025,0.527,0.372,0.692,38.0,36,11.0,5,12,2025-12-05 01:46:00.605828+00:00
4,0022500057,1610612737,2025-11-25,ATL @ WAS,L,113,-19.0,22025,0.453,0.349,0.750,44.0,33,4.0,6,18,2025-12-05 01:46:00.605828+00:00
5,0022500276,1610612737,2025-11-23,ATL vs. CHA,W,113,3.0,22025,0.495,0.355,0.750,37.0,32,6.0,5,7,2025-12-05 01:46:00.605828+00:00

In [75]:
# 1) Ensure datetime, then convert to ISO string
fact_team_games_df["game_date"] = (
    pd.to_datetime(fact_team_games_df["game_date"])
      .dt.strftime("%Y-%m-%d")   # now plain strings like "2025-11-12"
)

# 2) (Recommended) Replace NaN/NaT with None so JSON can handle them
fact_team_games_df = fact_team_games_df.replace({np.nan: None})

In [76]:
## drop duplicates in the raw data
fact_team_games_df = fact_team_games_df.drop_duplicates(
    subset=["game_id", "team_id"],
    keep="first"
).reset_index(drop=True)

In [77]:
fact_team_games_df.shape

(109692, 17)

#### Grab player season stats

In [ ]:

SEASONS = ["2020-21","2021-22","2022-23","2023-24", "2024-25"]
player_season_dfs = []

for SEASON in SEASONS:
    print(f"Processing season: {SEASON}")
    player_season_df = leaguedashplayerstats.LeagueDashPlayerStats(
        season=SEASON,
        season_type_all_star="Regular Season",   # or "Playoffs"
        per_mode_detailed="PerGame",            # "Totals", "Per36", "Per100Possessions", etc.
        measure_type_detailed_defense="Base",       # "Base", "Advanced", "Misc", "Scoring", etc.
    ).get_data_frames()[0]
    print(f"Season {SEASON} data shape: {player_season_df.shape}")
    player_season_df['season'] = SEASON
    # add date time processed column
    player_season_df['date_time_processed'] = pd.Timestamp.utcnow()
    player_season_df["date_time_processed"] = player_season_df["date_time_processed"].astype(str)
    
    player_season_dfs.append(player_season_df)

player_season_df_compiled = pd.concat(player_season_dfs)

player_season_df_compiled.head()
player_season_df_compiled.columns

Processing season: 2020-21
Season 2020-21 data shape: (540, 67)
Processing season: 2021-22
Season 2021-22 data shape: (605, 67)
Processing season: 2022-23
Season 2022-23 data shape: (539, 67)
Processing season: 2023-24
Season 2023-24 data shape: (572, 67)
Processing season: 2024-25
Season 2024-25 data shape: (569, 67)

Index(['PLAYER_ID', 'PLAYER_NAME', 'NICKNAME', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS',
       'NBA_FANTASY_PTS', 'DD2', 'TD3', 'WNBA_FANTASY_PTS', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK',
       'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK',
       'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK',
       'DD2_RANK', 'TD3_RANK', 'WNBA_FANTASY_PTS_RANK', 'TEAM_COUNT', 'season',
       'date_time_processed'],
      dtype='object')

In [79]:
player_season_df_compiled.shape

(2825, 69)

In [80]:
player_season_df_compiled.head()

,player_id,player_name,nickname,team_id,team_abbreviation,age,gp,w,l,w_pct,...,pfd_rank,pts_rank,plus_minus_rank,nba_fantasy_pts_rank,dd2_rank,td3_rank,wnba_fantasy_pts_rank,team_count,season,date_time_processed
0,203932,Aaron Gordon,Aaron,1610612743,DEN,25.0,50,29,21,0.580,...,79,136,139,115,115,17,117,2,2020-21,2025-12-05 01:49:48.082823+00:00
1,1628988,Aaron Holiday,Aaron,1610612754,IND,24.0,66,30,36,0.455,...,283,276,228,338,178,29,328,1,2020-21,2025-12-05 01:49:48.082823+00:00
2,1630174,Aaron Nesmith,Aaron,1610612738,BOS,21.0,46,22,24,0.478,...,411,382,250,399,245,29,388,1,2020-21,2025-12-05 01:49:48.082823+00:00
3,1627846,Abdel Nader,Abdel,1610612756,PHX,27.0,24,16,8,0.667,...,216,302,143,348,245,29,347,1,2020-21,2025-12-05 01:49:48.082823+00:00
4,1629690,Adam Mokoka,Adam,1610612741,CHI,22.0,14,3,11,0.214,...,524,518,280,525,245,29,526,1,2020-21,2025-12-05 01:49:48.082823+00:00

In [95]:
for c in player_season_df_compiled.columns:
    print(f"The data type for column, {c} is {player_season_df_compiled[c].dtype}")

The data type for column, player_id is int64
The data type for column, player_name is object
The data type for column, nickname is object
The data type for column, team_id is int64
The data type for column, team_abbreviation is object
The data type for column, age is float64
The data type for column, gp is int64
The data type for column, w is int64
The data type for column, l is int64
The data type for column, w_pct is float64
The data type for column, min is float64
The data type for column, fgm is float64
The data type for column, fga is float64
The data type for column, fg_pct is float64
The data type for column, fg3m is float64
The data type for column, fg3a is float64
The data type for column, fg3_pct is float64
The data type for column, ftm is float64
The data type for column, fta is float64
The data type for column, ft_pct is float64
The data type for column, oreb is float64
The data type for column, dreb is float64
The data type for column, reb is float64
The data type for column, ast is float64
The data type for column, tov is float64
The data type for column, stl is float64
The data type for column, blk is float64
The data type for column, blka is float64
The data type for column, pf is float64
The data type for column, pfd is float64
The data type for column, pts is float64
The data type for column, plus_minus is float64
The data type for column, nba_fantasy_pts is float64
The data type for column, dd2 is int64
The data type for column, td3 is int64
The data type for column, wnba_fantasy_pts is float64
The data type for column, gp_rank is int64
The data type for column, w_rank is int64
The data type for column, l_rank is int64
The data type for column, w_pct_rank is int64
The data type for column, min_rank is int64
The data type for column, fgm_rank is int64
The data type for column, fga_rank is int64
The data type for column, fg_pct_rank is int64
The data type for column, fg3m_rank is int64
The data type for column, fg3a_rank is int64
The data type for column, fg3_pct_rank is int64
The data type for column, ftm_rank is int64
The data type for column, fta_rank is int64
The data type for column, ft_pct_rank is int64
The data type for column, oreb_rank is int64
The data type for column, dreb_rank is int64
The data type for column, reb_rank is int64
The data type for column, ast_rank is int64
The data type for column, tov_rank is int64
The data type for column, stl_rank is int64
The data type for column, blk_rank is int64
The data type for column, blka_rank is int64
The data type for column, pf_rank is int64
The data type for column, pfd_rank is int64
The data type for column, pts_rank is int64
The data type for column, plus_minus_rank is int64
The data type for column, nba_fantasy_pts_rank is int64
The data type for column, dd2_rank is int64
The data type for column, td3_rank is int64
The data type for column, wnba_fantasy_pts_rank is int64
The data type for column, team_count is int64
The data type for column, season is object
The data type for column, date_time_processed is object

In [ ]:
player_season_df_compiled["PLAYER_NAME"] = player_season_df_compiled["PLAYER_NAME"].astype(str)
player_season_df_compiled["NICKNAME"] = player_season_df_compiled["NICKNAME"].astype(str)
player_season_df_compiled["TEAM_ABBREVIATION"] = player_season_df_compiled["TEAM_ABBREVIATION"].astype(str)

In [36]:
rename_map = {
    "PLAYER_ID": "player_id",
    "PLAYER_NAME": "player_name",
    "NICKNAME": "nickname",
    "TEAM_ID": "team_id",
    "TEAM_ABBREVIATION": "team_abbreviation",
    "AGE": "age",
    "GP": "gp",
    "W": "w",
    "L": "l",
    "W_PCT": "w_pct",
    "MIN": "min",
    "FGM": "fgm",
    "FGA": "fga",
    "FG_PCT": "fg_pct",
    "FG3M": "fg3m",
    "FG3A": "fg3a",
    "FG3_PCT": "fg3_pct",
    "FTM": "ftm",
    "FTA": "fta",
    "FT_PCT": "ft_pct",
    "OREB": "oreb",
    "DREB": "dreb",
    "REB": "reb",
    "AST": "ast",
    "TOV": "tov",
    "STL": "stl",
    "BLK": "blk",
    "BLKA": "blka",
    "PF": "pf",
    "PFD": "pfd",
    "PTS": "pts",
    "PLUS_MINUS": "plus_minus",
    "NBA_FANTASY_PTS": "nba_fantasy_pts",
    "DD2": "dd2",
    "TD3": "td3",
    "WNBA_FANTASY_PTS": "wnba_fantasy_pts",
    "GP_RANK": "gp_rank",
    "W_RANK": "w_rank",
    "L_RANK": "l_rank",
    "W_PCT_RANK": "w_pct_rank",
    "MIN_RANK": "min_rank",
    "FGM_RANK": "fgm_rank",
    "FGA_RANK": "fga_rank",
    "FG_PCT_RANK": "fg_pct_rank",
    "FG3M_RANK": "fg3m_rank",
    "FG3A_RANK": "fg3a_rank",
    "FG3_PCT_RANK": "fg3_pct_rank",
    "FTM_RANK": "ftm_rank",
    "FTA_RANK": "fta_rank",
    "FT_PCT_RANK": "ft_pct_rank",
    "OREB_RANK": "oreb_rank",
    "DREB_RANK": "dreb_rank",
    "REB_RANK": "reb_rank",
    "AST_RANK": "ast_rank",
    "TOV_RANK": "tov_rank",
    "STL_RANK": "stl_rank",
    "BLK_RANK": "blk_rank",
    "BLKA_RANK": "blka_rank",
    "PF_RANK": "pf_rank",
    "PFD_RANK": "pfd_rank",
    "PTS_RANK": "pts_rank",
    "PLUS_MINUS_RANK": "plus_minus_rank",
    "NBA_FANTASY_PTS_RANK": "nba_fantasy_pts_rank",
    "DD2_RANK": "dd2_rank",
    "TD3_RANK": "td3_rank",
    "WNBA_FANTASY_PTS_RANK": "wnba_fantasy_pts_rank",
    "TEAM_COUNT": "team_count",
    "SEASON": "season",
    "DATE_TIME_PROCESSED": "date_time_processed"
}

player_season_df_compiled = player_season_df_compiled.rename(columns=rename_map)

#### Test write to Supabase

#### Connect to Supabase

In [37]:
SUPABASE_URL = os.environ.get("SUPABASE_URL")
SUPABASE_KEY = os.environ.get("SUPABASE_SERVICE_KEY")  # or anon key for de

In [38]:
supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)

In [39]:
def upsert_in_chunks(table_name, records, chunk_size=500, conflict_cols=None):
    for i in range(0, len(records), chunk_size):
        chunk = records[i:i+chunk_size]
        query = supabase.table(table_name)
        if conflict_cols:
            query = query.upsert(chunk, on_conflict=",".join(conflict_cols))
        else:
            query = query.insert(chunk)
        resp = query.execute()
        # Optional: print or check resp
        print(f"{table_name}: upserted rows {i}–{i+len(chunk)-1}")

#### Convert dataframes to json

In [84]:
dim_teams_records = teams_df.to_dict(orient="records")

In [85]:
dim_players_records = players_df.to_dict(orient="records")

In [86]:
fact_team_games_records = fact_team_games_df.to_dict(orient="records")

In [87]:
fact_player_season_records = player_season_df_compiled.to_dict(orient="records")

In [88]:
player_season_df_compiled.columns

Index(['player_id', 'player_name', 'nickname', 'team_id', 'team_abbreviation',
       'age', 'gp', 'w', 'l', 'w_pct', 'min', 'fgm', 'fga', 'fg_pct', 'fg3m',
       'fg3a', 'fg3_pct', 'ftm', 'fta', 'ft_pct', 'oreb', 'dreb', 'reb', 'ast',
       'tov', 'stl', 'blk', 'blka', 'pf', 'pfd', 'pts', 'plus_minus',
       'nba_fantasy_pts', 'dd2', 'td3', 'wnba_fantasy_pts', 'gp_rank',
       'w_rank', 'l_rank', 'w_pct_rank', 'min_rank', 'fgm_rank', 'fga_rank',
       'fg_pct_rank', 'fg3m_rank', 'fg3a_rank', 'fg3_pct_rank', 'ftm_rank',
       'fta_rank', 'ft_pct_rank', 'oreb_rank', 'dreb_rank', 'reb_rank',
       'ast_rank', 'tov_rank', 'stl_rank', 'blk_rank', 'blka_rank', 'pf_rank',
       'pfd_rank', 'pts_rank', 'plus_minus_rank', 'nba_fantasy_pts_rank',
       'dd2_rank', 'td3_rank', 'wnba_fantasy_pts_rank', 'team_count', 'season',
       'date_time_processed'],
      dtype='object')

In [90]:
# dim_teams
upsert_in_chunks("dim_teams", dim_teams_records, chunk_size=200, conflict_cols=["team_id"])

dim_teams: upserted rows 0–29

In [91]:
# dim_teams
upsert_in_chunks("dim_players", dim_players_records, chunk_size=200, conflict_cols=["player_id"])

dim_players: upserted rows 0–199
dim_players: upserted rows 200–399
dim_players: upserted rows 400–599
dim_players: upserted rows 600–799
dim_players: upserted rows 800–999
dim_players: upserted rows 1000–1199
dim_players: upserted rows 1200–1399
dim_players: upserted rows 1400–1599
dim_players: upserted rows 1600–1799
dim_players: upserted rows 1800–1999
dim_players: upserted rows 2000–2199
dim_players: upserted rows 2200–2399
dim_players: upserted rows 2400–2599
dim_players: upserted rows 2600–2799
dim_players: upserted rows 2800–2999
dim_players: upserted rows 3000–3199
dim_players: upserted rows 3200–3399
dim_players: upserted rows 3400–3599
dim_players: upserted rows 3600–3799
dim_players: upserted rows 3800–3999
dim_players: upserted rows 4000–4199
dim_players: upserted rows 4200–4399
dim_players: upserted rows 4400–4599
dim_players: upserted rows 4600–4799
dim_players: upserted rows 4800–4999
dim_players: upserted rows 5000–5102

In [93]:
# fact_team_games
upsert_in_chunks(
    "fact_team_games",
    fact_team_games_records,
    chunk_size=400,
    conflict_cols=["game_id", "team_id"],
)

fact_team_games: upserted rows 0–399
fact_team_games: upserted rows 400–799
fact_team_games: upserted rows 800–1199
fact_team_games: upserted rows 1200–1599
fact_team_games: upserted rows 1600–1999
fact_team_games: upserted rows 2000–2399
fact_team_games: upserted rows 2400–2799
fact_team_games: upserted rows 2800–3199
fact_team_games: upserted rows 3200–3599
fact_team_games: upserted rows 3600–3999
fact_team_games: upserted rows 4000–4399
fact_team_games: upserted rows 4400–4799
fact_team_games: upserted rows 4800–5199
fact_team_games: upserted rows 5200–5599
fact_team_games: upserted rows 5600–5999
fact_team_games: upserted rows 6000–6399
fact_team_games: upserted rows 6400–6799
fact_team_games: upserted rows 6800–7199
fact_team_games: upserted rows 7200–7599
fact_team_games: upserted rows 7600–7999
fact_team_games: upserted rows 8000–8399
fact_team_games: upserted rows 8400–8799
fact_team_games: upserted rows 8800–9199
fact_team_games: upserted rows 9200–9599
fact_team_games: upserted rows 9600–9999
fact_team_games: upserted rows 10000–10399
fact_team_games: upserted rows 10400–10799
fact_team_games: upserted rows 10800–11199
fact_team_games: upserted rows 11200–11599
fact_team_games: upserted rows 11600–11999
fact_team_games: upserted rows 12000–12399
fact_team_games: upserted rows 12400–12799
fact_team_games: upserted rows 12800–13199
fact_team_games: upserted rows 13200–13599
fact_team_games: upserted rows 13600–13999
fact_team_games: upserted rows 14000–14399
fact_team_games: upserted rows 14400–14799
fact_team_games: upserted rows 14800–15199
fact_team_games: upserted rows 15200–15599
fact_team_games: upserted rows 15600–15999
fact_team_games: upserted rows 16000–16399
fact_team_games: upserted rows 16400–16799
fact_team_games: upserted rows 16800–17199
fact_team_games: upserted rows 17200–17599
fact_team_games: upserted rows 17600–17999
fact_team_games: upserted rows 18000–18399
fact_team_games: upserted rows 18400–18799
fact_team_games: upserted rows 18800–19199
fact_team_games: upserted rows 19200–19599
fact_team_games: upserted rows 19600–19999
fact_team_games: upserted rows 20000–20399
fact_team_games: upserted rows 20400–20799
fact_team_games: upserted rows 20800–21199
fact_team_games: upserted rows 21200–21599
fact_team_games: upserted rows 21600–21999
fact_team_games: upserted rows 22000–22399
fact_team_games: upserted rows 22400–22799
fact_team_games: upserted rows 22800–23199
fact_team_games: upserted rows 23200–23599
fact_team_games: upserted rows 23600–23999
fact_team_games: upserted rows 24000–24399
fact_team_games: upserted rows 24400–24799
fact_team_games: upserted rows 24800–25199
fact_team_games: upserted rows 25200–25599
fact_team_games: upserted rows 25600–25999
fact_team_games: upserted rows 26000–26399
fact_team_games: upserted rows 26400–26799
fact_team_games: upserted rows 26800–27199
fact_team_games: upserted rows 27200–27599
fact_team_games: upserted rows 27600–27999
fact_team_games: upserted rows 28000–28399
fact_team_games: upserted rows 28400–28799
fact_team_games: upserted rows 28800–29199
fact_team_games: upserted rows 29200–29599
fact_team_games: upserted rows 29600–29999
fact_team_games: upserted rows 30000–30399
fact_team_games: upserted rows 30400–30799
fact_team_games: upserted rows 30800–31199
fact_team_games: upserted rows 31200–31599
fact_team_games: upserted rows 31600–31999
fact_team_games: upserted rows 32000–32399
fact_team_games: upserted rows 32400–32799
fact_team_games: upserted rows 32800–33199
fact_team_games: upserted rows 33200–33599
fact_team_games: upserted rows 33600–33999
fact_team_games: upserted rows 34000–34399
fact_team_games: upserted rows 34400–34799
fact_team_games: upserted rows 34800–35199
fact_team_games: upserted rows 35200–35599
fact_team_games: upserted rows 35600–35999
fact_team_games: upserted rows 36000–36399
fact_team_games: upserted rows 36400–36799
fact_team_games: upserted rows 36800–37199
fact_team_games: upserted rows 37200–37599
fact_team_games: upserted rows 37600–37999
fact_team_games: upserted rows 38000–38399
fact_team_games: upserted rows 38400–38799
fact_team_games: upserted rows 38800–39199
fact_team_games: upserted rows 39200–39599
fact_team_games: upserted rows 39600–39999
fact_team_games: upserted rows 40000–40399
fact_team_games: upserted rows 40400–40799
fact_team_games: upserted rows 40800–41199
fact_team_games: upserted rows 41200–41599
fact_team_games: upserted rows 41600–41999
fact_team_games: upserted rows 42000–42399
fact_team_games: upserted rows 42400–42799
fact_team_games: upserted rows 42800–43199
fact_team_games: upserted rows 43200–43599
fact_team_games: upserted rows 43600–43999
fact_team_games: upserted rows 44000–44399
fact_team_games: upserted rows 44400–44799
fact_team_games: upserted rows 44800–45199
fact_team_games: upserted rows 45200–45599
fact_team_games: upserted rows 45600–45999
fact_team_games: upserted rows 46000–46399
fact_team_games: upserted rows 46400–46799
fact_team_games: upserted rows 46800–47199
fact_team_games: upserted rows 47200–47599
fact_team_games: upserted rows 47600–47999
fact_team_games: upserted rows 48000–48399
fact_team_games: upserted rows 48400–48799
fact_team_games: upserted rows 48800–49199
fact_team_games: upserted rows 49200–49599
fact_team_games: upserted rows 49600–49999
fact_team_games: upserted rows 50000–50399
fact_team_games: upserted rows 50400–50799
fact_team_games: upserted rows 50800–51199
fact_team_games: upserted rows 51200–51599
fact_team_games: upserted rows 51600–51999
fact_team_games: upserted rows 52000–52399
fact_team_games: upserted rows 52400–52799
fact_team_games: upserted rows 52800–53199
fact_team_games: upserted rows 53200–53599
fact_team_games: upserted rows 53600–53999
fact_team_games: upserted rows 54000–54399
fact_team_games: upserted rows 54400–54799
fact_team_games: upserted rows 54800–55199
fact_team_games: upserted rows 55200–55599
fact_team_games: upserted rows 55600–55999
fact_team_games: upserted rows 56000–56399
fact_team_games: upserted rows 56400–56799
fact_team_games: upserted rows 56800–57199
fact_team_games: upserted rows 57200–57599
fact_team_games: upserted rows 57600–57999
fact_team_games: upserted rows 58000–58399
fact_team_games: upserted rows 58400–58799
fact_team_games: upserted rows 58800–59199
fact_team_games: upserted rows 59200–59599
fact_team_games: upserted rows 59600–59999
fact_team_games: upserted rows 60000–60399
fact_team_games: upserted rows 60400–60799
fact_team_games: upserted rows 60800–61199
fact_team_games: upserted rows 61200–61599
fact_team_games: upserted rows 61600–61999
fact_team_games: upserted rows 62000–62399
fact_team_games: upserted rows 62400–62799
fact_team_games: upserted rows 62800–63199
fact_team_games: upserted rows 63200–63599
fact_team_games: upserted rows 63600–63999
fact_team_games: upserted rows 64000–64399
fact_team_games: upserted rows 64400–64799
fact_team_games: upserted rows 64800–65199
fact_team_games: upserted rows 65200–65599
fact_team_games: upserted rows 65600–65999
fact_team_games: upserted rows 66000–66399
fact_team_games: upserted rows 66400–66799
fact_team_games: upserted rows 66800–67199
fact_team_games: upserted rows 67200–67599
fact_team_games: upserted rows 67600–67999
fact_team_games: upserted rows 68000–68399
fact_team_games: upserted rows 68400–68799
fact_team_games: upserted rows 68800–69199
fact_team_games: upserted rows 69200–69599
fact_team_games: upserted rows 69600–69999
fact_team_games: upserted rows 70000–70399
fact_team_games: upserted rows 70400–70799
fact_team_games: upserted rows 70800–71199
fact_team_games: upserted rows 71200–71599
fact_team_games: upserted rows 71600–71999
fact_team_games: upserted rows 72000–72399
fact_team_games: upserted rows 72400–72799
fact_team_games: upserted rows 72800–73199
fact_team_games: upserted rows 73200–73599
fact_team_games: upserted rows 73600–73999
fact_team_games: upserted rows 74000–74399
fact_team_games: upserted rows 74400–74799
fact_team_games: upserted rows 74800–75199
fact_team_games: upserted rows 75200–75599
fact_team_games: upserted rows 75600–75999
fact_team_games: upserted rows 76000–76399
fact_team_games: upserted rows 76400–76799
fact_team_games: upserted rows 76800–77199
fact_team_games: upserted rows 77200–77599
fact_team_games: upserted rows 77600–77999
fact_team_games: upserted rows 78000–78399
fact_team_games: upserted rows 78400–78799
fact_team_games: upserted rows 78800–79199
fact_team_games: upserted rows 79200–79599
fact_team_games: upserted rows 79600–79999
fact_team_games: upserted rows 80000–80399
fact_team_games: upserted rows 80400–80799
fact_team_games: upserted rows 80800–81199
fact_team_games: upserted rows 81200–81599
fact_team_games: upserted rows 81600–81999
fact_team_games: upserted rows 82000–82399
fact_team_games: upserted rows 82400–82799
fact_team_games: upserted rows 82800–83199
fact_team_games: upserted rows 83200–83599
fact_team_games: upserted rows 83600–83999
fact_team_games: upserted rows 84000–84399
fact_team_games: upserted rows 84400–84799
fact_team_games: upserted rows 84800–85199
fact_team_games: upserted rows 85200–85599
fact_team_games: upserted rows 85600–85999
fact_team_games: upserted rows 86000–86399
fact_team_games: upserted rows 86400–86799
fact_team_games: upserted rows 86800–87199
fact_team_games: upserted rows 87200–87599
fact_team_games: upserted rows 87600–87999
fact_team_games: upserted rows 88000–88399
fact_team_games: upserted rows 88400–88799
fact_team_games: upserted rows 88800–89199
fact_team_games: upserted rows 89200–89599
fact_team_games: upserted rows 89600–89999
fact_team_games: upserted rows 90000–90399
fact_team_games: upserted rows 90400–90799
fact_team_games: upserted rows 90800–91199
fact_team_games: upserted rows 91200–91599
fact_team_games: upserted rows 91600–91999
fact_team_games: upserted rows 92000–92399
fact_team_games: upserted rows 92400–92799
fact_team_games: upserted rows 92800–93199
fact_team_games: upserted rows 93200–93599
fact_team_games: upserted rows 93600–93999
fact_team_games: upserted rows 94000–94399
fact_team_games: upserted rows 94400–94799
fact_team_games: upserted rows 94800–95199
fact_team_games: upserted rows 95200–95599
fact_team_games: upserted rows 95600–95999
fact_team_games: upserted rows 96000–96399
fact_team_games: upserted rows 96400–96799
fact_team_games: upserted rows 96800–97199
fact_team_games: upserted rows 97200–97599
fact_team_games: upserted rows 97600–97999
fact_team_games: upserted rows 98000–98399
fact_team_games: upserted rows 98400–98799
fact_team_games: upserted rows 98800–99199
fact_team_games: upserted rows 99200–99599
fact_team_games: upserted rows 99600–99999
fact_team_games: upserted rows 100000–100399
fact_team_games: upserted rows 100400–100799
fact_team_games: upserted rows 100800–101199
fact_team_games: upserted rows 101200–101599
fact_team_games: upserted rows 101600–101999
fact_team_games: upserted rows 102000–102399
fact_team_games: upserted rows 102400–102799
fact_team_games: upserted rows 102800–103199
fact_team_games: upserted rows 103200–103599
fact_team_games: upserted rows 103600–103999
fact_team_games: upserted rows 104000–104399
fact_team_games: upserted rows 104400–104799
fact_team_games: upserted rows 104800–105199
fact_team_games: upserted rows 105200–105599
fact_team_games: upserted rows 105600–105999
fact_team_games: upserted rows 106000–106399
fact_team_games: upserted rows 106400–106799
fact_team_games: upserted rows 106800–107199
fact_team_games: upserted rows 107200–107599
fact_team_games: upserted rows 107600–107999
fact_team_games: upserted rows 108000–108399
fact_team_games: upserted rows 108400–108799
fact_team_games: upserted rows 108800–109199
fact_team_games: upserted rows 109200–109599
fact_team_games: upserted rows 109600–109691

In [98]:
# fact_player_season_stats
upsert_in_chunks(
    "fact_player_season_stats",
    fact_player_season_records,
    chunk_size=500,
    conflict_cols=["player_id", "season"],
)

fact_player_season_stats: upserted rows 0–499
fact_player_season_stats: upserted rows 500–999
fact_player_season_stats: upserted rows 1000–1499
fact_player_season_stats: upserted rows 1500–1999
fact_player_season_stats: upserted rows 2000–2499
fact_player_season_stats: upserted rows 2500–2824